@font-face {
  font-family: "Poppins-Medium";
  src: url("Poppins-Medium.ttf"); 
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("Poppins-Regular.ttf"); 
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("Poppins-Bold.ttf"); 
}

body{
    
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #0089a1, #1B1F27, #0089a1, #1B1F27);
    background: -o-linear-gradient(right, #0089a1, #1B1F27, #1B1F27, #1B1F27);
    background: -moz-linear-gradient(right, #0089a1, #1B1F27, #0089a1, #1B1F27);
    background: linear-gradient(right, #0089a1, #1B1F27, #1B1F27, #1B1F27);
    font-family: Poppins;
    overflow: hidden;
    
}

.contorno{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.redefinir{
    
    display: flex;
    flex-direction: column;
    background-color: #181920;
    text-align: center;
    align-items: center;
    line-height: 2.8;
    width: 500px;
    height: 240px;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #00FFFF;
    -moz-box-shadow: 0px 3px 7px #86CEEB;
    -webkit-box-shadow: 0px 3px 7px #86CEEB;
}

.titulo{
    
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Poppins-Medium;
    color: white;
    background-image: linear-gradient(to right, #00FFFF, #20B2AA, #00FFFF);
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 5px;
}

.entrada{
    
    font-size: 16px;
    font-family: Poppins-Regular;
    color: white;
    background-color: #252A34;
    border: none;
    border-radius: 8px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    
}

input::placeholder{
    
    font-family: Poppins-Medium;
    font-size:16px;
    
}

.botao{
    
    background-color: #1B1F27;
    border-radius: 40px;
    
}

.parte-interna{
    
    background-color: #1B1F27;
    font-family: Poppins-Bold;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;    
    background-image: linear-gradient(to right, #0089a1, #00faf2);
    -webkit-background-clip: text;
    text-shadow: 0px 0px 30px #ffffff;
    border-radius: 40px;
    border-width: 1px; 
    border-style: solid;
    border-color: #FFFFFF;
    color: transparent;    
    
}

.parte-interna:hover{
    
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
    cursor: pointer;
}

.botao:hover{
    
    background-color: #232833;
    transition: all .4s ease-out;
}

.espacamento{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
    line-height: 2.1;
    padding-bottom: 6%;
}